In [1]:
import pandas as pd

In [2]:

temperatures = pd.read_csv("GlobalTemperatures.csv")
temperatures.head()

,dt,LandAverageTemperature,LandAverageTemperatureUncertainty,LandMaxTemperature,LandMaxTemperatureUncertainty,LandMinTemperature,LandMinTemperatureUncertainty,LandAndOceanAverageTemperature,LandAndOceanAverageTemperatureUncertainty
0,1750-01-01,3.034,3.574,NaN,NaN,NaN,NaN,NaN,NaN
1,1750-02-01,3.083,3.702,NaN,NaN,NaN,NaN,NaN,NaN
2,1750-03-01,5.626,3.076,NaN,NaN,NaN,NaN,NaN,NaN
3,1750-04-01,8.490,2.451,NaN,NaN,NaN,NaN,NaN,NaN
4,1750-05-01,11.573,2.072,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
temperatures['LandAverageTemperature'].sum()

26631.644999999982

In [12]:

temperatures['LandAverageTemperature'].sum(skipna=True)

26631.644999999982

In [4]:
temperatures['LandAverageTemperature'].mean()

8.374731132075466

In [3]:
temperatures.mean(axis=0)

LandAverageTemperature                        8.374731
LandAverageTemperatureUncertainty             0.938468
LandMaxTemperature                           14.350601
LandMaxTemperatureUncertainty                 0.479782
LandMinTemperature                            2.743595
LandMinTemperatureUncertainty                 0.431849
LandAndOceanAverageTemperature               15.212566
LandAndOceanAverageTemperatureUncertainty     0.128532
dtype: float64

In [4]:
temperatures.mean(axis=1)

0       3.304000
1       3.392500
2       4.351000
3       5.470500
4       6.822500
5       7.330500
6       8.889500
7       8.490500
8       7.025000
9       4.517500
10           NaN
11      2.871000
12      2.982000
13      2.395000
14      4.425500
15      5.019000
16           NaN
17      7.814000
18           NaN
19      8.350500
20      6.664500
21           NaN
22           NaN
23           NaN
24      2.068500
25           NaN
26      4.499000
27      5.331500
28           NaN
29           NaN
          ...
3162    7.877500
3163    7.788750
3164    7.114500
3165    5.899000
3166    4.735250
3167    3.622750
3168    3.226000
3169    3.128000
3170    4.335500
3171    5.654500
3172    6.851500
3173    7.581125
3174    7.821125
3175    7.846125
3176    7.092000
3177    5.935750
3178    4.454125
3179    3.692750
3180    3.304125
3181    3.622500
3182    4.472750
3183    5.541750
3184    6.748625
3185    7.664000
3186    7.921250
3187    7.807125
3188    7.068250
3189    6.138875
3190    4.764375
3191    3.964875
dtype: float64

In [5]:

temperatures['LandAverageTemperature'].describe()

count    3180.000000
mean        8.374731
std         4.381310
min        -2.080000
25%         4.312000
50%         8.610500
75%        12.548250
max        19.021000
Name: LandAverageTemperature, dtype: float64

In [7]:

temperatures['LandAverageTemperature'].describe(percentiles=[.10, .30, .65, 0.80])

count    3180.000000
mean        8.374731
std         4.381310
min        -2.080000
10%         2.563900
30%         4.956700
50%         8.610500
65%        11.228700
80%        13.228400
max        19.021000
Name: LandAverageTemperature, dtype: float64

In [6]:
temperatures['LandAverageTemperature'].count()

3180

In [7]:
temperatures['LandAverageTemperature'].max()

19.021000000000001

In [8]:
temperatures['LandAverageTemperature'].min()

-2.0800000000000001

In [9]:

temperatures['LandAverageTemperature'].median()

8.610499999999998

In [10]:

temperatures['LandAverageTemperature'].mode()

0    13.293
1    13.765
dtype: float64